In [1]:
import os
import pandas as pd
import numpy as np

In [4]:
nests=pd.read_csv('uglynests.csv',header=None)

In [5]:
print(nests)

           0            1          2     3     4     5    6    7    8
0   13565851  (((((((2012   u'H01M')   10)    9)    4)   3)   3)   3)
1   13657304  (((((((2012   u'H01M')    7)    4)    4)   1)   3)   1)
2   13782409  (((((((2013   u'H01M')   14)    6)    8)   3)   6)   2)
3   12799871  (((((((2010   u'H01M')    8)    5)    5)   3)   3)   3)
4   13861455  (((((((2013   u'H01M')    4)    3)    4)   3)   2)   1)
5   14475246  (((((((2014   u'H01M')    6)    2)    4)   2)   3)   2)
6   13407409  (((((((2012   u'H01M')    4)    2)    3)   1)   2)   1)
7   13845762  (((((((2013   u'H01M')   15)   12)    4)   2)   2)   1)
8   14258647  (((((((2014   u'H01M')    6)    2)    5)   1)   3)   1)
9   12891242  (((((((2010   u'H01M')    8)    3)    4)   1)   3)   1)
10  14244997  (((((((2014   u'H01P')    2)    2)    2)   2)   2)   2)
11  14255322  (((((((2014   u'H01M')    6)    5)    3)   2)   1)   1)
12  13836321  (((((((2013   u'H01M')    3)    2)    3)   2)   3)   2)
13  14311495  (((((((2014   u'H01P')    5)    5)    3)   3)   2)   2)
14  13962718  (((((((2013   u'H01M')    5)    2)    2)   2)   1)   1)
15  13512649  (((((((2012   u'H01M')   11)    6)    7)   3)   5)   2)
16  13120214  (((((((2011   u'H01P')    4)    2)    3)   1)   2)   1)
17  14535512  (((((((2014   u'H01M')   13)    7)    8)   3)   4)   1)
18  14016422  (((((((2014   u'H01P')    7)    7)    4)   4)   3)   3)
19  13699661  (((((((2013   u'H01M')    7)    4)    2)   1)   1)   1)
20  13346409  (((((((2011   u'H01M')   12)   10)    4)   3)   1)   1)
21  13615099  (((((((2012   u'H01M')    4)    3)    3)   2)   1)   1)
22  13422514  (((((((2012   u'B60L')   42)   20)   16)   6)   8)   3)

In [6]:
nests['start'], nests['year'] = zip(*nests[1].map(lambda x: x.split('(((((((')))
nests['start'], nests['subclass_code'], nests['end'] = zip(*nests[2].map(lambda x: x.split("'")))
nests['var3'], nests['end'] = zip(*nests[3].map(lambda x: x.split(')')))
nests['var4'], nests['end'] = zip(*nests[4].map(lambda x: x.split(')')))
nests['var5'], nests['end'] = zip(*nests[5].map(lambda x: x.split(')')))
nests['var6'], nests['end'] = zip(*nests[6].map(lambda x: x.split(')')))
nests['var7'], nests['end'] = zip(*nests[7].map(lambda x: x.split(')')))
nests['var8'], nests['end'] = zip(*nests[8].map(lambda x: x.split(')')))

In [7]:
print(nests)

           0            1          2     3     4     5    6    7    8 start  \
0   13565851  (((((((2012   u'H01M')   10)    9)    4)   3)   3)   3)     u
1   13657304  (((((((2012   u'H01M')    7)    4)    4)   1)   3)   1)     u
2   13782409  (((((((2013   u'H01M')   14)    6)    8)   3)   6)   2)     u
3   12799871  (((((((2010   u'H01M')    8)    5)    5)   3)   3)   3)     u
4   13861455  (((((((2013   u'H01M')    4)    3)    4)   3)   2)   1)     u
5   14475246  (((((((2014   u'H01M')    6)    2)    4)   2)   3)   2)     u
6   13407409  (((((((2012   u'H01M')    4)    2)    3)   1)   2)   1)     u
7   13845762  (((((((2013   u'H01M')   15)   12)    4)   2)   2)   1)     u
8   14258647  (((((((2014   u'H01M')    6)    2)    5)   1)   3)   1)     u
9   12891242  (((((((2010   u'H01M')    8)    3)    4)   1)   3)   1)     u
10  14244997  (((((((2014   u'H01P')    2)    2)    2)   2)   2)   2)     u
11  14255322  (((((((2014   u'H01M')    6)    5)    3)   2)   1)   1)     u
12  13836321  (((((((2013   u'H01M')    3)    2)    3)   2)   3)   2)     u
13  14311495  (((((((2014   u'H01P')    5)    5)    3)   3)   2)   2)     u
14  13962718  (((((((2013   u'H01M')    5)    2)    2)   2)   1)   1)     u
15  13512649  (((((((2012   u'H01M')   11)    6)    7)   3)   5)   2)     u
16  13120214  (((((((2011   u'H01P')    4)    2)    3)   1)   2)   1)     u
17  14535512  (((((((2014   u'H01M')   13)    7)    8)   3)   4)   1)     u
18  14016422  (((((((2014   u'H01P')    7)    7)    4)   4)   3)   3)     u
19  13699661  (((((((2013   u'H01M')    7)    4)    2)   1)   1)   1)     u
20  13346409  (((((((2011   u'H01M')   12)   10)    4)   3)   1)   1)     u
21  13615099  (((((((2012   u'H01M')    4)    3)    3)   2)   1)   1)     u
22  13422514  (((((((2012   u'B60L')   42)   20)   16)   6)   8)   3)     u

    year subclass_code end var3 var4 var5 var6 var7 var8
0   2012          H01M       10    9    4    3    3    3
1   2012          H01M        7    4    4    1    3    1
2   2013          H01M       14    6    8    3    6    2
3   2010          H01M        8    5    5    3    3    3
4   2013          H01M        4    3    4    3    2    1
5   2014          H01M        6    2    4    2    3    2
6   2012          H01M        4    2    3    1    2    1
7   2013          H01M       15   12    4    2    2    1
8   2014          H01M        6    2    5    1    3    1
9   2010          H01M        8    3    4    1    3    1
10  2014          H01P        2    2    2    2    2    2
11  2014          H01M        6    5    3    2    1    1
12  2013          H01M        3    2    3    2    3    2
13  2014          H01P        5    5    3    3    2    2
14  2013          H01M        5    2    2    2    1    1
15  2012          H01M       11    6    7    3    5    2
16  2011          H01P        4    2    3    1    2    1
17  2014          H01M       13    7    8    3    4    1
18  2014          H01P        7    7    4    4    3    3
19  2013          H01M        7    4    2    1    1    1
20  2011          H01M       12   10    4    3    1    1
21  2012          H01M        4    3    3    2    1    1
22  2012          B60L       42   20   16    6    8    3

In [8]:
cols=nests.columns.tolist()

In [9]:
cols[1:10]+cols[12:13]+cols[:1]+cols[10:12]+cols[-6:]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 'start',
 'end',
 0,
 'year',
 'subclass_code',
 'var3',
 'var4',
 'var5',
 'var6',
 'var7',
 'var8']

In [10]:
cols=cols[1:10]+cols[12:13]+cols[:1]+cols[10:12]+cols[-6:]

In [11]:
nests=nests[cols]

In [12]:
print(nests)

              1          2     3     4     5    6    7    8 start end  \
0   (((((((2012   u'H01M')   10)    9)    4)   3)   3)   3)     u
1   (((((((2012   u'H01M')    7)    4)    4)   1)   3)   1)     u
2   (((((((2013   u'H01M')   14)    6)    8)   3)   6)   2)     u
3   (((((((2010   u'H01M')    8)    5)    5)   3)   3)   3)     u
4   (((((((2013   u'H01M')    4)    3)    4)   3)   2)   1)     u
5   (((((((2014   u'H01M')    6)    2)    4)   2)   3)   2)     u
6   (((((((2012   u'H01M')    4)    2)    3)   1)   2)   1)     u
7   (((((((2013   u'H01M')   15)   12)    4)   2)   2)   1)     u
8   (((((((2014   u'H01M')    6)    2)    5)   1)   3)   1)     u
9   (((((((2010   u'H01M')    8)    3)    4)   1)   3)   1)     u
10  (((((((2014   u'H01P')    2)    2)    2)   2)   2)   2)     u
11  (((((((2014   u'H01M')    6)    5)    3)   2)   1)   1)     u
12  (((((((2013   u'H01M')    3)    2)    3)   2)   3)   2)     u
13  (((((((2014   u'H01P')    5)    5)    3)   3)   2)   2)     u
14  (((((((2013   u'H01M')    5)    2)    2)   2)   1)   1)     u
15  (((((((2012   u'H01M')   11)    6)    7)   3)   5)   2)     u
16  (((((((2011   u'H01P')    4)    2)    3)   1)   2)   1)     u
17  (((((((2014   u'H01M')   13)    7)    8)   3)   4)   1)     u
18  (((((((2014   u'H01P')    7)    7)    4)   4)   3)   3)     u
19  (((((((2013   u'H01M')    7)    4)    2)   1)   1)   1)     u
20  (((((((2011   u'H01M')   12)   10)    4)   3)   1)   1)     u
21  (((((((2012   u'H01M')    4)    3)    3)   2)   1)   1)     u
22  (((((((2012   u'B60L')   42)   20)   16)   6)   8)   3)     u

           0  year subclass_code var3 var4 var5 var6 var7 var8
0   13565851  2012          H01M   10    9    4    3    3    3
1   13657304  2012          H01M    7    4    4    1    3    1
2   13782409  2013          H01M   14    6    8    3    6    2
3   12799871  2010          H01M    8    5    5    3    3    3
4   13861455  2013          H01M    4    3    4    3    2    1
5   14475246  2014          H01M    6    2    4    2    3    2
6   13407409  2012          H01M    4    2    3    1    2    1
7   13845762  2013          H01M   15   12    4    2    2    1
8   14258647  2014          H01M    6    2    5    1    3    1
9   12891242  2010          H01M    8    3    4    1    3    1
10  14244997  2014          H01P    2    2    2    2    2    2
11  14255322  2014          H01M    6    5    3    2    1    1
12  13836321  2013          H01M    3    2    3    2    3    2
13  14311495  2014          H01P    5    5    3    3    2    2
14  13962718  2013          H01M    5    2    2    2    1    1
15  13512649  2012          H01M   11    6    7    3    5    2
16  13120214  2011          H01P    4    2    3    1    2    1
17  14535512  2014          H01M   13    7    8    3    4    1
18  14016422  2014          H01P    7    7    4    4    3    3
19  13699661  2013          H01M    7    4    2    1    1    1
20  13346409  2011          H01M   12   10    4    3    1    1
21  13615099  2012          H01M    4    3    3    2    1    1
22  13422514  2012          B60L   42   20   16    6    8    3

In [13]:
nests=nests.ix[:,10:].copy()

In [14]:
print(nests)

           0  year subclass_code var3 var4 var5 var6 var7 var8
0   13565851  2012          H01M   10    9    4    3    3    3
1   13657304  2012          H01M    7    4    4    1    3    1
2   13782409  2013          H01M   14    6    8    3    6    2
3   12799871  2010          H01M    8    5    5    3    3    3
4   13861455  2013          H01M    4    3    4    3    2    1
5   14475246  2014          H01M    6    2    4    2    3    2
6   13407409  2012          H01M    4    2    3    1    2    1
7   13845762  2013          H01M   15   12    4    2    2    1
8   14258647  2014          H01M    6    2    5    1    3    1
9   12891242  2010          H01M    8    3    4    1    3    1
10  14244997  2014          H01P    2    2    2    2    2    2
11  14255322  2014          H01M    6    5    3    2    1    1
12  13836321  2013          H01M    3    2    3    2    3    2
13  14311495  2014          H01P    5    5    3    3    2    2
14  13962718  2013          H01M    5    2    2    2    1    1
15  13512649  2012          H01M   11    6    7    3    5    2
16  13120214  2011          H01P    4    2    3    1    2    1
17  14535512  2014          H01M   13    7    8    3    4    1
18  14016422  2014          H01P    7    7    4    4    3    3
19  13699661  2013          H01M    7    4    2    1    1    1
20  13346409  2011          H01M   12   10    4    3    1    1
21  13615099  2012          H01M    4    3    3    2    1    1
22  13422514  2012          B60L   42   20   16    6    8    3

In [15]:
nests.columns=['patent_number','year','subclass_code','var3','var4','var5','var6','var7','var8']

In [16]:
print(nests)

    patent_number  year subclass_code var3 var4 var5 var6 var7 var8
0        13565851  2012          H01M   10    9    4    3    3    3
1        13657304  2012          H01M    7    4    4    1    3    1
2        13782409  2013          H01M   14    6    8    3    6    2
3        12799871  2010          H01M    8    5    5    3    3    3
4        13861455  2013          H01M    4    3    4    3    2    1
5        14475246  2014          H01M    6    2    4    2    3    2
6        13407409  2012          H01M    4    2    3    1    2    1
7        13845762  2013          H01M   15   12    4    2    2    1
8        14258647  2014          H01M    6    2    5    1    3    1
9        12891242  2010          H01M    8    3    4    1    3    1
10       14244997  2014          H01P    2    2    2    2    2    2
11       14255322  2014          H01M    6    5    3    2    1    1
12       13836321  2013          H01M    3    2    3    2    3    2
13       14311495  2014          H01P    5    5    3    3    2    2
14       13962718  2013          H01M    5    2    2    2    1    1
15       13512649  2012          H01M   11    6    7    3    5    2
16       13120214  2011          H01P    4    2    3    1    2    1
17       14535512  2014          H01M   13    7    8    3    4    1
18       14016422  2014          H01P    7    7    4    4    3    3
19       13699661  2013          H01M    7    4    2    1    1    1
20       13346409  2011          H01M   12   10    4    3    1    1
21       13615099  2012          H01M    4    3    3    2    1    1
22       13422514  2012          B60L   42   20   16    6    8    3